.wheel {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 23vh;
    flex-grow: 1;
    aspect-ratio: 1;
    width: 70vh;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 0 1vh black,
                0 0 0 3vh white,
                0 0 0 4vh black;
    overflow: hidden;
    transition: transform 2.5s ease-in-out;
}

.wheel .element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(var(--deg) * var(--i)));
    clip-path: polygon(0 0, var(--clip) 0, 99% 99%, 0% var(--clip));
}

.wheel .element span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2);
    transform: rotate(50deg);
}


.dial-holder {
    display: flex;
    position: absolute;
    top: 53vh;
}

.dial {
    display: flex;
    width: 7vh;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    border: 5px solid black;
    position: relative;
}

.dial::before {
    content: '';
    position: absolute;
    top: -5.5vh;
    left: calc(50% - 1.5vw);
    width: 3vw;
    height: 7vh;
    background: white;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}
