.wheel-holder {
    display: flex;
    flex-direction: row;
    aspect-ratio: 1;
    height: 35%;
    min-height:250px;
    width: 35%;
    min-width: 250px;
    position: relative;
  }
  
  .wheel {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 0 1vh black, 0 0 0 3vh white, 0 0 0 4vh black;
    overflow: hidden;
    transition: transform 4s ease-in-out;
  }
  
  .wheel .element {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(var(--deg) * var(--i)));
    clip-path: polygon(0 0, var(--clip) 0, 99% 99%, 0% var(--clip));
    font-size: 30px;
  }
  
  .wheel .element span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    color: white;
    text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
  }
  
  .dial-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .dial {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background-color: white;
    border: .8vh solid black;
  }
  
  .dial::before {
    content: '';
    position: relative;
    left: 19.5%;
    width: 60%;
    top: calc(-1 * max(2vh, 2vw));
    height: max(3vh, 3vw);
    background: white;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  }
